<!-- Bootstrap "Navbar" component-->
<!-- Class sticky-top added so navbar would always be visible, classes for background and foreground colours added to preserve the colour scheme of a site -->
<!-- Custom class .container-nav adjusts margin of navbar elements. -->
<nav class="navbar navbar-expand-lg sticky-top blur" data-bs-theme="dark">
    <div class="container-fluid container-nav">
        <a class="navbar-brand" href="/">TheCoffeeCove</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <!-- Dynamically add the 'active' class to navbar links depending on which page is loaded -->
                    <a class="nav-link <%= activePage === "home" ? "active" : "" %>" aria-current="page"
                        href="/">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= activePage === "products" ? "active" : "" %>" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= activePage === "about" ? "active" : "" %>" href="/about">About Us</a>
                </li>
                <!-- Class 'log-out' is added and value of onclick attribute changes based on login status, which is defined server-side -->
                <li class="nav-item">
                    <a class="nav-link <%= isLoggedIn === "Log Out" ? "log-out" : "" %>" id="isLoggedIn" href="#"
                        onclick=<%= isLoggedIn==="Log In" ? "togglePopup()" : "" %> ><%= isLoggedIn %>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>