
        <%- include("includes/head.ejs") %>
        <link rel="stylesheet" href="css/products.css">
    </head>

    <body>
        <%- include("includes/navbar.ejs") %>

        <div class="container-fluid container-products">
            <div class="row">
                <div class="col-lg-6">
                    <%- include("includes/product.ejs") %>
                </div>
                <div class="col-lg-6">
                    <%- include("includes/product.ejs") %>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <%- include("includes/product.ejs") %>
                </div>
                <div class="col-lg-6">
                    <%- include("includes/product.ejs") %>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <%- include("includes/product.ejs") %>
                </div>
                <div class="col-lg-6">
                    <%- include("includes/product.ejs") %>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <%- include("includes/product.ejs") %>
                </div>
                <div class="col-lg-6">
                    <%- include("includes/product.ejs") %>
                </div>
            </div>
        </div>
        <%- include("includes/footer.ejs") %>
    </body>
</html>