<!-- Header -->
<%- include("includes/head.ejs") %>
    <!-- Stylesheet relevant to a products page -->
    <link rel="stylesheet" href="css/products.css">
    </head>

    <body>
        <!-- Navbar -->
        <%- include("includes/navbar.ejs") %>
        <!-- Login Popup -->
        <%- include("includes/popup.ejs") %>

        <!-- Products page using bootstrap grid system. Outer grid includes two columns (products) in each row -->
        <div class="container-fluid container-products blur">
            <!-- Iterate over all products sent from the server -->
            <% for (let i=0; i < products.length; i +=2) { %>
                <div class="row">
                    <!-- First outer column -->
                    <div class="col-lg-6 col-outer">
                        <!-- First inner grid for a particular product -->
                        <div class="container container-prod">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img class="product-img" src="images/<%= products[i].image %>"
                                        alt="product image">
                                </div>
                                <div class="col-lg-6 product-desc">
                                    <h6>
                                        <%= products[i].brand %>
                                    </h6>
                                    <h5>
                                        <%= products[i].name %>
                                    </h5>
                                    <p>
                                        <%= products[i].description %>
                                    </p>
                                </div>
                            </div>
                            <div class="row purchase-details">
                                <div class="col-lg-6">
                                    <h5>Price: €<%= products[i].price %>
                                    </h5>
                                </div>
                                <div class="col-lg-6">
                                    <!-- Hidden input element with value of productID -->
                                    <input class="productID" type="number" hidden value=<%= products[i].productID %>>
                                    <input class="quantity" type="number" min="1" max="99" value="1">
                                    <button class="btn" type="submit" onclick="addProduct(this)">Add To Cart</button>
                                    <img class="cart" src="/icons/cart.png" data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasWithBothOptions"
                                        aria-controls="offcanvasWithBothOptions">
                                </div>
                            </div>
                        </div>
                        <!-- End of first inner grid -->
                    </div>
                    <!-- End of first outer column -->

                    <!-- To properly display 2 products per row, add second one only if another product is available on current iteration -->
                    <% if (i + 1 < products.length) { %>
                        <!-- Second outer column -->
                        <div class="col-lg-6 col-outer">
                            <!-- Second inner grid for a particular product -->
                            <div class="container container-prod">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <img class="product-img" src="images/<%= products[i+1].image %>"
                                            alt="product image">
                                    </div>
                                    <div class="col-lg-6 product-desc">
                                        <h6>
                                            <%= products[i+1].brand %>
                                        </h6>
                                        <h5>
                                            <%= products[i+1].name %>
                                        </h5>
                                        <p>
                                            <%= products[i+1].description %>
                                        </p>
                                    </div>
                                </div>
                                <div class="row purchase-details">
                                    <div class="col-lg-6">
                                        <h5>Price: €<%= products[i+1].price %>
                                        </h5>
                                    </div>
                                    <div class="col-lg-6">
                                        <!-- Hidden input element with value of productID -->
                                        <input class="productID" type="number" hidden value=<%= products[i+1].productID %>>
                                        <input class="quantity" type="number" min="1" max="99" value="1">
                                        <button class="btn" type="submit" onclick="addProduct(this)">Add To Cart</button>
                                        <img class="cart" src="/icons/cart.png" data-bs-toggle="offcanvas"
                                            data-bs-target="#offcanvasWithBothOptions"
                                            aria-controls="offcanvasWithBothOptions">
                                    </div>
                                </div>    
                            </div>
                            <!-- End of second inner grid -->
                        </div>
                        <!-- End of second outer column -->
                        <% } %>
                </div>
            <% }; %>
            <!-- End of row end for loop -->
        </div>
        <!-- End of container for products -->

        <!-- Bootstrap 'Offcanvas' element-->
        <div class="offcanvas offcanvas-start offcanvas-cart" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
            aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <h4 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Your Shopping Cart</h4>
            <div class="offcanvas-body">
                <div class="container cart-products">
                    <div id="cart-product-wrapper">
                        <!-- Populate cart from the cart session (if exists) on product page load. Asynchronous javascript code (cart.js) populates cart when 'Add To Cart' button is clicked on -->
                        <% if (productsList) { %>
                            <% for( let i = 0; i < productsList.length; i++ ) { %>
                                <div class="row cart-product">
                                    <div class="col-lg-3">
                                        <%= productsList[i].productName %>
                                    </div>
                                    <div class="col-lg-2">Qty:
                                        <input class="cart-quantity" value="<%= productsList[i].productQty %>">
                                    </div>
                                    <div class="col-lg-2">
                                        Price: €<%= productsList[i].productPrice %>
                                    </div>
                                    <div class="col-lg-2">Total: €
                                        <span class="product-total"><%= productsList[i].productQty*productsList[i].productPrice %></span>
                                    </div>
                                    <div class="col-lg-3">
                                        <button class="prod-remove" type="button" onclick="removeFromCart('<%= productsList[i].productID %>', this); removeID('<%= productsList[i].productID %>')">Remove</button>
                                    </div>
                                </div>
                            <% } %>
                        <% } %> 
                    </div>
                    <!-- Calculate subtotal of a complete cart (if cart session exists) on page load -->
                    <h5 class="total">Subtotal: €
                        <span id="cart-total">
                        <% if (productsList) { %>
                            <% let sum = 0 %>
                            <% for( let i = 0; i < productsList.length; i++ ) { %>
                                <% sum += productsList[i].productPrice*productsList[i].productQty %>
                            <% } %>
                            <%= sum.toFixed(2) %>
                        <% } %>
                        </span></h5>
                    <form action="/checkout" method="POST">

                        <% if (productsList) { %>
                            <button id="cart-checkout" class="btn-checkout" type="submit">CHECKOUT</button>
                        <% } else { %>
                            <button id="cart-checkout" class="btn-checkout" type="submit" disabled="false">CHECKOUT</button>
                           <% } %>

                    </form>
                </div>
            </div>
        </div>
        <!-- End of 'Offcanvas' -->

        <!-- Footer -->
        <%- include("includes/footer.ejs") %>
        <script src="/js/cart.js"></script>
    </body>
</html>